<div class="row athleteBody">
  <div class="col s8 offset-s2 wrapper">
  <h1>Register as a Student Athlete</h1>
    <form>
      <div class="form-group col s4">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Your name" ng-model="athlete.name"/>
      </div>
      <div class="form-group col s4">
        <label>Age</label>
        <input type="text" class="form-control" placeholder="16" ng-model="athlete.age"/>
      </div>
      <div class="form-group col s4">
        <label>Birthdate</label>
        <input type="text" class="form-control" placeholder="08/05/2000" ng-model="athlete.birthdate"/>
      </div>
      <div class="form-group col s4">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="yourname@gmail.com" ng-model="athlete.email"/>
      </div>
      <div class="form-group col s4">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="athlete.password"/>
      </div>
      <div class="form-group col s4">
        <label>Gender</label>
        <input type="text" class="form-control" ng-model="athlete.gender"/>
      </div>
      <div class="form-group col s4">
        <label>Grade</label>
        <input type="text" class="form-control" placeholder="Senior" ng-model="athlete.grade"/>
      </div>
      <div class="form-group col s4">
        <label>Sport</label>
        <input type="text" class="form-control" placeholder="baseball" ng-model="athlete.sport"/>
      </div>
      <div class="form-group col s4">
        <label>State of Residence</label>
        <input type="text" class="form-control" placeholder="Tennessee" ng-model="athlete.state"/>
      </div>
      <div class="form-group">
        <label>Projected Major</label>
        <input type="text" class="form-control" placeholder="chemistry" ng-model="athlete.major"/>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="studentRegister()">Register Now
        <i class="material-icons right">send</i>
      </button>
      <button class="btn waves-effect waves-light"><a href="/home">Cancel</a></button>
    </form>
  </div>
</div>
