<h1>Your Resume Details</h1>
<form>
	<h4>More About You</h4>
	<div class="form-group">
		<label>Height</label>
		<input type="text" class="form-control" ng-model="profileInfo.height">
	</div>
	<div class="form-group">
		<label>Weight</label>
		<input type="text" class="form-control" ng-model="profileInfo.weight">
	</div>
	<div class="form-group">
		<label>Position</label>
		<input type="text" class="form-control" ng-model="profileInfo.position">
	</div>
	<div class="form-group">
		<label>Years Varsity</label>
		<input type="text" class="form-control" ng-model="profileInfo.varsity">
	</div>
	<div class="form-group">
		<label>Jersey Number</label>
		<input type="text" class="form-control" ng-model="profileInfo.jersey">
	</div>
	<div class="form-group">
		<label>Stats</label>
		<input type="text" class="form-control" ng-model="profileInfo.stats">
	</div>
	<div class="form-group">
		<label>Athletic Awards</label>
		<input type="text" class="form-control" ng-model="profileInfo.awards">
	</div>
	<div class="form-group">
		<label>GPA</label>
		<input type="text" class="form-control" ng-model="profileInfo.gpa">
	</div>
	<div class="form-group">
		<label>Academic Activities and Awards</label>
		<input type="text" class="form-control" ng-model="profileInfo.academic">
	</div>

	</form>
	<form>

	<h4>More About Your School and Team</h4>
	<div class="form-group">
		<label>School Name</label>
		<input type="text" class="form-control" ng-model="profileInfo.schoolname">
	</div>
	<div class="form-group">
		<label>School Location</label>
		<input type="text" class="form-control" ng-model="profileInfo.schoollocation">
	</div>
	<div class="form-group">
		<label>Coach's Name</label>
		<input type="text" class="form-control" ng-model="profileInfo.coachname">
	</div>
	<div class="form-group">
		<label>Coach's Email</label>
		<input type="text" class="form-control" ng-model="profileInfo.coachemail">
	</div>
	<div class="form-group">
		<label>Team Record</label>
		<input type="text" class="form-control" ng-model="profileInfo.teamrecord">
	</div>
	<div class="form-group">
		<label>Team Accomplishments</label>
		<input type="text" class="form-control" ng-model="profileInfo.teamawards">
	</div>
	<button class="btn btn-default" ng-click="saveNewInfo()">Save</button>
	<button class="btn btn-default" ng-click="saveAndGo()">Save and Continue</button>
	<button class="btn btn-default"><a href="/home">Cancel</a></button>
	</form>
