<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">The PipeLine</a>
      <ul class="right hide-on-med-and-down">
		<li><a ng-href="/aboutUs">About Us</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
		<li><a ng-href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">Take Your Game to the Next Level</h1>
        <div class="row center">
          <h5 class="header col s12 light">The student-athlete and coach's #1 recruiting resource</h5>
        </div>
        <div class="row center">
          <a ng-href="/student-athleteRegistration" class="btn-large waves-effect waves-light blue">Register as a Student-Athlete</a>
        </div>
        <div class="row center">
        	<a ng-href="/coach-registration" class="btn-large waves-effect waves-light blue">Register as a Coach/Recruiter</a>
        </div>
         <div class="row center">
          <a ng-href="/login" class="btn-large waves-effect waves-light blue">Already Registered?</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://www.clyouthsports.org/uploads/6/3/5/0/63502917/s593092899748484392_p3_i1_w2560.jpeg" alt="basketball image"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">For Coaches-Recruiters</h5>

            <p class="light">For coaches and recruiters, particularly at smaller institutions that might not have the budget for extensive recruiting travel, The Pipeline puts a database of talented athletes at your fingertips. Once a verified user, the coach/recruiter can search by gender, sport, name, and state to find that missing piece to his/her championship winning team. Get started today by clicking the "Coaches/Recruiters Register Here" button below</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">For Student-Athletes</h5>

            <p class="light">The Pipeline is the high school student-athlete's resource for reaching the next level, both academically and athletically. In addition to being able to search for institutions based on projected major and sport, student athletes have their own personal recruiting portal to upload photos, video, transcripts, and a resume. This information is stored in our secure database and made available to registered and verified coaches and recruiters who can then view the profile and contact the student-athlete (all through our secure and monitored communications system). Click the "Student Athletes Register Here" button below to get started today!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
          <h5 class="center">For Parents</h5>

            <p class="light">The Pipeline provides a secure and verified one stop source for communication with college coaches and recruiters. We understand that security is important and we want to make sure you, the parent, understand how we do what we do. Please read our "About Us" page for more information and, if you have any questions, contact us via the information on our "Contact" page. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Find the right fit for you, whether athlete or coach. </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/baseball.jpg" alt="baseball image"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">The easiest way to reach us is via email at support@thepipeline.com. We strive to respond to all email inquiries within 48 hours. We maintain a dispersed workforce, which means we might have a client services agent near you! Feel free to call us at 1-800-GET-SEEN if you'd like more information on our locations and client services.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">An all-in-one resource for direct access to the nation's best UNIVERSITIES and PREP ATHLETES. </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/football.jpg" alt="football image"></div>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">The Pipeline, as a concept, was born of one former student-athlete's experience attempting to get recruited. Though successful, it was clear there had to be a better way. So, when a younger sibling found himself in the same situation, the by-then software developer decided to spring into action and create a resource to assist. </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Athletic Links</h5>
          <ul>
           	<li><a class="white-text" href="https://www.ncaa.org">NCAA</a></li>
            <li><a class="white-text" href="https://web3.ncaa.org/ecwr3/">NCAA Eligibility Center</a></li>
            <li><a class="white-text" href="https://www.naia.org">NAIA</a></li>
            <li><a class="white-text" href="https://www.playnaia.org/eligibility-center">NAIA Clearinghouse</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Academic Links</h5>
          <ul>
            <li><a class="white-text" href="https://www.collegeboarc.org">The College Board</a></li>
            <li><a class="white-text" href="https://collegereadiness.collegeboard.org/sat">SAT</a></li>
            <li><a class="white-text" href="https://www.act.org">ACT</a></li>
            <li><a class="white-text" href="https://bigfuture.collegeboard.org/explore-careers">Explore a College Major</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://sales-ls21.github.io">LaDonna Sales</a>
      </div>
    </div>
  </footer>




