<div class="row">
	<div class="row">
		<button class="btn btn-default"><a ng-href="/student-athleteRegistration">Student Athletes Register Here</a></button>
		<button class="btn btn-default"><a ng-href="/coach-registration">Coaches/Recruiters Register Here</a></button>
		<button class="btn btn-default"><a ng-href="/login">Already Registered?</a></button>
	</div>
	<div class="col-xs-12">
		<h1 id="tagline">The Pipeline</h1>
		<p>The Pipeline is the high school student-athlete's resource for reaching the next level, both academically and athletically. In addition to being able to search for institutions based on projected major and sport, student athletes have their own personal recruiting portal to upload photos, video, transcripts, and a resume. This information is stored in our secure database and made available to registered and verified coaches and recruiters who can then view the profile and contact the student-athlete (all through our secure and monitored communications system). Click the "Student Athletes Register Here" button below to get started today!</p>
		<p>For coaches and recruiters, particularly at smaller institutions that might not have the budget for extensive recruiting travel, The Pipeline puts a database of talented athletes at your fingertips. Once a verified user, the coach/recruiter can search by gender, sport, name, and state to find that missing piece to his/her championship winning team. Get started today by clicking the "Coaches/Recruiters Register Here" button below </p>
	</div>
</div>