 <div class="row searchBody">
	 <div class="col s8 offset-s2">
		<h1>Search Results</h1>
		<p>Click on a university to get more details.</p>
   <!-- <div class="col s10 offset-s2">  -->
  <!--  <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText.search"> -->

        <div class="col s4" ng-repeat="university in location | filter: searchText.search">
          <div class="card small">
            <div class="card-image">
              <!-- <img src="basketball.jpg"> -->
            </div>
            <div class="card-content">
              <span class="card-title">{{university.University}}</span>
              <p>{{university.Address}}, {{university.State}}, {{university.ZIP}}</p>
            </div>
              <img class="logo" src="{{university.image}}">
            <div class="card-action">
              <a href="/universityDetails/{{university.University}}">Click for more information</a>
            </div>
          </div>
        </div>
      <!-- </div> -->
   </div>
	 </div>   
