<h1>Search Results</h1>
<p>Click on a university to get more details.</p>
  <div ng-repeat= >
    <div class="panel panel-default">
      <div class="panel-body">      
      <div class="col-xs-7"><a ng-href="#/universityDetails/{{university.university}}">{{university.university}}</a></div>
      <div class="col-xs-7">{{university.address}}, {{university.state}}, {{university.ZIP}}</div>
        <div class="col-xs-1"><button class="btn btn-danger" ng-click="remove()">Remove From List</button></div>
      </div>
    </div>
</div>
