 <div class="row">
    <h1>Search Results</h1>
    <p>Click on a university to get more details.</p>
   <div class="col s10 offset-s2" ng-repeat="university in sports">
   </div>   
   <!-- <div class="col s10 offset-s2">  -->
        <div class="col s12 m7">
          <div class="card small">
            <div class="card-image">
              <!-- <img src="basketball.jpg"> -->
            </div>
            <div class="card-content">
              <span class="card-title">{{university.University}}</span>
              <p>{{university.Address}}, {{university.State}}, {{university.ZIP}}</p>
            </div>
            <div class="card-action">
              <a href="/universityDetails/{{university.University}}">Click for more information</a>
            </div>
          </div>
        </div>
      <!-- </div> -->
   </div>