<div class="row resultBody" >
        <div class ng-repeat="university in selectedItem" class="col s8 offset-s2">
          <div class="card medium">
            <div class="card-image">
            </div>
            <div class="card-content">
	            <div class="col s6">
	            <img class="logo" src="{{university.image}}">
					<p>Address: {{university.Address}}</p>
					<p>City: {{university.City}}</p>
					<p>State: {{university.State}}</p>
				</div>
				<div class="col s6">
					<p>General Website:<a href="{{university.Website}}">{{university.Website}}</a></p>
					<p>Admissions:<a href="{{university.Admissions}}">{{university.Admissions}}</a></p>
					<p>Athletic Website: <a href="{{university.Webpage}}">{{university.Webpage}}</a></p>
	            </div>
            </div>
            <div class="card-action">
				<button class="btn btn-default"><a href="/universitySearch">Return to Search</a></button>
            </div>
          </div>
        </div>
      </div>